@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
    --color-navi-background: none;
    --color-navi-link: DARKgray;
    --color-navi-link-hover: rgba(150,205,50,1);
    --color-navi-link-active: var(--color-navi-link-hover);
    --color-navi-author: var(--color-navi-link-hover);
    --color-page: almond;
    --color-content-background: var(--color-navi-link-hover);
    --color-content-text: var(--color-page);
    --color-footer: var(--color-navi-link);
    --ff: 'Dosis', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    /*border-radius: 10% -20%;*/
}

body {
    background-color: var(--color-page);
}


/* Wrapper */

#wrapper {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 50px auto;
    font-family: var(--ff);
    letter-spacing: 2px;
}

/* Header */

#header {}

/* Navigation */

#navi {
    width: 270px;
    height: 600px;
    background-color: var(--color-navi-background);
    padding: 0px 0px 0 10px;
}

#navi h1 {
    min-width: 290px;
    position: absolute;
    top: 559px;
    z-index: 10;
    color: var(--color-navi-author);
    font-size: 18px;
    text-transform: uppercase;
    transform: rotate(-90deg) translate(120px, 110px);
    //background-color: rgba(0,0,0,.5);
}



#navi ul {
    position: absolute;
    z-index: 20;
    top: -10px;
    left: 0px;
    list-style: none;
    width: 270px;
    text-align: right;
    padding-top: 10px;
    font-size: 12px;
}

#navi ul li {
    display: block;
}


#navi ul li a,
#navi ul li a:active,
#navi ul li a:hover,
#navi ul li a:visited {
    text-decoration: none;
    color: var(--color-navi-link);
}

#navi ul li a:hover {
    color: var(--color-navi-link-hover);
}

#navi ul li.active a  {
    color: var(--color-navi-link-active);
    font-weight: bold;
}

.author
{
    position: absolute;
    top: 386px;
    left: 126px;
    z-index: 0;
    border: 2px solid var(--color-navi-author);
}

/* Content */

#content {
    position: absolute;
    top: 0;
    left: 280px;
    max-width: 900px;
    height: 555px;
    overflow: scroll;
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    color: var(--color-content-text);
    font-weight: 900;
    background:  var(--color-content-background);
}

#content .content-no-background
{
    background-color: none;
}

#content h2 {
    font-size: 38px;
}

#content h2 ~ p {
    padding: 20px 0px;
    font-size: 14px;
    letter-spacing: 1px;
}


/* Footer */

#footer {
    position: absolute;
    z-index: 40;
    top: -25px;
    left: 280px;
    color: var(--color-footer);
}

#footer ul {
    list-style: none;
}

#footer ul li {
    display: inline;
}

#footer ul li:last-child {
    border-right: none;
}


#footer ul li a,
#footer ul li a:active,
#footer ul li a:hover,
#footer ul li a:visited {
    text-decoration: none;
    color: var(--color3);
    font-size: 12px;
    text-transform: uppercase;
}

#footer ul li a:hover {
    color: var(--color-navi-link-hover);
}

#footer ul li.active a  {
    color: var(--color-navi-link-active);
    font-weight: bold;
}

